<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Reporte Análisis DEC - {{ datetime }}</title>
        <style type="text/css">
            table.gridtable {
                font-family: verdana,arial,sans-serif;
                font-size:11px;
                color:#333333;
                border-width: 1px;
                border-color: #666666;
                border-collapse: collapse;
            }
            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }
            table.gridtable td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Reporte de Resultados del Software DEC</h1>
            <h2>Creado el {{ datetime }}</h2>
        </header>
        <section>
            <h2>Resumen</h2>
            <p>Se ha realizado un análisis de Decisión Multicriterio Discreto utilizando el método <b>{{ method }}</b>
                con los siguientes datos proporcionados. Al final del documento se encuentra la recomendación de decisión.</p>
            
            <h3>Criterios</h3>
            <p>Se utilizaron {{ criteria|length }} criterios: {% for cri in criteria %} <b>{{cri}}</b>{% if not loop.last%},{% endif %}{% endfor %}</p>
            
            <h3>Alternativas</h3>
            <p>Se utilizaron {{ alternatives|length }} alternativas: {% for alt in alternatives %}<b> {{alt}}</b>{% if not loop.last%},{% endif %}{% endfor %}</p>
            
            <h3>Preferencias del Decisor</h3>
            <p>El decisor proporcionó los siguientes datos de preferencias:</p>
            {% for table in datum %}
                <p>
                <table class="gridtable">
                    {% for row in table %}
                    <tr>
                        {% for cel in row %}
                        <th>{{ cel }}</th>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                </p>
            {% endfor %}
            </p>
            
            {% if method == "AHP" %}
            <h3>Consistencia de los datos</h3>
            <p>Se utilizó el método AHP el cual provee el calculo de la consistencia de los datos.
                Cada matriz de comparación tiene su valor de consistencia:</p>
                <ul>
                {% for key, value in consistencies.iteritems() %}
                    <li>{{key}}: {{value.0}} {{value.1}}</li>
                {% endfor %}
                </ul>
            <p><i>Se considera consistente si el valor es menor o igual a 0.1</i></p>
            {% endif %}

            <h2>Conclusión</h2>
            <p>Se sugiere elegir la alternativa <b>{{ result_sorted.0.0 }}</b></p>
            <p>Clasificación de alternativas:</p>
            <p>
                <ul>
                    {% for alt, value in result_sorted %}
                    <li>{{ alt }}: {{ value }}</li>
                    {% endfor %}
                </ul>
            </p>
        </section>
        <footer>
            <p>Copyright 2014 - Ramirez Emilio 48917</p>
        </footer>
    </body>
</html>